%flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%font_Syne {
  font-family: "Syne", sans-serif;
  font-weight: 800;
}

%font_DM {
  font-family: "DM-sans", sans-serif;
  font-weight: normal;
}

%font_DMBold {
  font-family: "DM-sans", sans-serif;
  font-weight: 700;
}
