// Definition de la palette de couleur

$noir: #0d0d0d;
$gris: #737373;
$blanc: #f2f2f2;
$vert: #0df205;
$vert-fonce: #09a603;

//fonts

$syne: "Syne", sans-serif;
$DMBold: "DM-sans", sans-serif;
$syne: "Syne", sans-serif;

// Autres variables

$radius-btn: 2rem;
